@page "/admin"


<h3>Admin Controller</h3>

<div class="row row-cols-1 row-cols-md-3 g-4">
<NavLink class="col" href="admin/products">
<div style="cursor: pointer;">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">
                <strong>Edit products:</strong> hehe      
            </p>
        </div>
    </div>
</div>
</NavLink>
    <NavLink class="col" href="admin/customers">
    <div style="cursor: pointer;">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Customer overview</h5>
                <p class="card-text">
                   Hej hej
                </p>
            </div>
        </div>
    </div>
</NavLink>
    <NavLink class="col" href="admin/orders">
    <div  style="cursor: pointer;">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text">
                    <strong>Edit products:</strong> hehe
                </p>
            </div>
        </div>
    </div>
</NavLink>
</div>
@code {

}
