@page "/cart"
@using BlazorFrontend.Services
@using Labb2Webb.Shared.DTOs
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject CartService CartService
@inject HttpClient Http
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<h3 class="d-flex justify-content-center pt-5 pb-5 ">Cart</h3>

@if (!CartService.CartItems.Any())
{
	<h4>Your cart is currently empty.</h4>
}
else {
	<div class="container">
	<table class="table table-dark">
		<thead>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Total</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in CartService.CartItems) 
			{
				<tr>
					<td>@item.Product.ProductName</td>
					<td>@item.Quantity</td>
					<td>@item.Product.Price</td>
					<td>$@(item.Product.Price * item.Quantity)</td>
					<td>
						<button class="btn btn-danger btn-sm" @onclick="()=> RemoveItem(item.Product)">Remove</button>
					</td>
				</tr>
			}
					<tr>
						<td colspan="3" class="text-end fw-bold">Cart Total:</td>
						<td class="fw-bold">
							$@(CartService.CartItems.Sum(i => i.Product.Price * i.Quantity))
						</td>
						<td></td>
					</tr>
		</tbody>
	</table>
	<button class="btn btn-primary" @onclick="PlaceOrder">Place Order</button>
	</div>
}
@code {
	private bool isCartInitialized = false;

	protected override async Task OnInitializedAsync()
	{
		await CartService.InitializeCartAsync();
		isCartInitialized = true;
		StateHasChanged();
	}

	private async Task RemoveItem(ProductDto product) {
		CartService.RemoveFromCart(product);
	}

	private async Task PlaceOrder() 
	{
		var authState = await AuthStateProvider.GetAuthenticationStateAsync();
		var loggedInEmail = authState.User.Identity.IsAuthenticated ? authState.User.FindFirst(ClaimTypes.Name)?.Value : "Test@notloggedinhehe.com";

		var order = new OrderCreationDto
			{
				CustomerEmail = loggedInEmail,
				OrderItems = CartService.CartItems.Select(i => new OrderItemCreationDto
				{
					ProductId = i.Product.Id,
					Quantity = i.Quantity
				}).ToList()
			};

			var response = await Http.PostAsJsonAsync("api/Order", order);
			if(response.IsSuccessStatusCode)
			{
				CartService.ClearCart();
				Navigation.NavigateTo("/orderconfirmation");
			}
			else
			{
				Console.WriteLine("Error placing the order");
			}
	}

}
