@page "/createaccount"
@using Labb2Webb.Shared.DTOs
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>ynet Create Account</PageTitle>

<div class="container mt-5 pt-5">
    <h2 class="text-center">Create Account</h2>

    <EditForm Model="newCustomer" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <InputText id="inputFirstName" class="form-control" @bind-Value="newCustomer.FirstName" placeholder="Enter First name" />
            <small class="form-text text-muted">We'll never share your first name with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <InputText id="inputLastName" class="form-control" @bind-Value="newCustomer.LastName" placeholder="Enter Last name" />
            <small class="form-text text-muted">We'll never share your last name with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <InputText id="inputEmail" type="email" class="form-control" @bind-Value="newCustomer.Email" placeholder="Enter email" />
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <InputText id="inputPassword" type="password" class="form-control" @bind-Value="newCustomer.Password" placeholder="Password" />
        </div>

        <div class="form-group">
            <label for="inputVerifyPassword">Verify Password</label>
            <InputText id="inputVerifyPassword" type="password" class="form-control" @bind-Value="newCustomer.VerifyPassword" placeholder="Verify Password" />
        </div>
         <div class="d-flex justify-content-center pt-3">
        <button type="submit" class="btn btn-primary mt-3">Sign up</button>
        </div>
    </EditForm>

    <div class="d-flex justify-content-center pt-3">
        <a href="/login" class="px-5">Already have an account?</a>
    </div>
</div>

@code {
    private CreateCustomerDto newCustomer = new();

    private async Task HandleValidSubmit()
    {
        try {
		var response = await Http.PostAsJsonAsync("api/Auth/register", newCustomer);
		if (response.IsSuccessStatusCode)
		{
			Navigation.NavigateTo("/login");
        }
        else
        {
            Console.WriteLine("Failed to create account");
        }
        }
		catch (Exception ex)
		{
			Console.WriteLine($"Exception: {ex.Message}");
		}
    }
}